## arquivos de projeto de IDE
.project
.settings
.buildpath
nbproject
*.sublime-project
.DS_Store
.idea
## arquivos privados de IDE
*.sublime-workspace
*.iws
*.iml

## arquivos privados de compilacao
node_modules/
bower_components/
build/

## arquivo de configuracao sencha
packager.json

!.gitkeep